    <!-- Gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Gallery</h2>
                <p>Just nu hämtar den från ett facebook album. kan lägga in fler album och instagram också. eller ska vi ha ett eget galleri här?</p>
                <div id="photos"></div>
<iframe src="http://embedsocial.com/facebook_album/album_photos/313318718877257" width="900" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>
            </div>
        </div>
    </section>