    <!-- Media Section -->
    <section id="media" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Media</h2>
                    
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/xMID5ZeTUV4' frameborder='0' allowfullscreen></iframe></div>
                    
                    <p>Dance in the Rain</p>
                </div>
            </div>
        </div>
    </section>